@import '../globalVariables.scss';

.main-nav-container {
    font-family: $font;

    /*****************
      MOBILE VERSION
    ******************/

    .mobile {
        display: flex;
        padding: 20px 100px;
        justify-content: space-between;
    }








}