.main-nav-container {
  font-family: "Poppins", sans-serif;
  /*****************
      MOBILE VERSION
    ******************/ }
  .main-nav-container .mobile {
    display: flex;
    padding: 20px 100px;
    justify-content: space-between; }
