@import '../globalVariables.scss';

.main-nav-container {
  font-family: $font;

    .navbar-styles {
      background-color: white;
      border: none;
      padding-top: 10px;
      padding-bottom: 30px;

    }
}