@import '../globalVariables.scss';

.main-nav-container {
  font-family: $font;

    .navbar-brand {
      margin-top: -10px;
    }

    .navbar-styles {
      background-color: white;
      border: none;
      padding-top: 10px;
      padding-bottom: 15px;

      .vertical-align {
        height: 100%;

        img {
          width: 200px;
        }
      }

      .nav-links {
        color: black;
      }

      .nav-links:hover {
        text-decoration: none;
        color: $purple;
      }

      #basic-nav-dropdown {
        color: $purple;
      }
    }

    .logged-in {
      display: none;
    }
}