@import '../../globalVariables.scss';

.cart-main {
    margin-top: 90px;
    width: 100%;

    .cart-items-container {
        display: inline-block;
        text-align: center;
        width: 100%;
        // flex-wrap: wrap;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
    }
}