.cart-header-main {
  background: url("../../../Images/cart/cart-cover.jpg");
  background-size: cover;
  background-position: bottom;
  height: 400px;
  width: 100vw;
  font-family: "Indie Flower", cursive;
  color: white;
  text-align: center;
  box-shadow: 0px 5px 12px 1px black; }
  .cart-header-main p {
    font-size: 130px;
    padding-top: 120px;
    letter-spacing: 7px; }

@media (max-width: 826px) {
  .cart-header-main p {
    padding-top: 70px; } }

@media (max-width: 601px) {
  .cart-header-main p {
    font-size: 100px;
    padding-top: 90px; } }

@media (max-width: 440px) {
  .cart-header-main {
    height: 300px; }
    .cart-header-main p {
      font-size: 80px;
      padding-top: 70px; } }
