.articles-main {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  .articles-main .articles img {
    width: 200px;
    height: 100px; }
