@import '../../globalVariables.scss';

.carousel-slide-main {
    width: 100vw;
    overflow: hidden;

    .recipe-slider {
        transform: skew(-7.5deg);
        width: 130%;
        position: relative;
        left: -250px;
        text-align: center;
        overflow: hidden;
        height: 420px;

        .slide-img {
            height: 420px;
            width: auto;
            margin: 0 20px;
            position: relative;

            img {
                // transform: skew(5.5deg);
                object-fit: contain;
                height: 100%;
                width: 100%;
                position: relative;
                z-index: -10;
            }

            .words {
                width: 100%;
                color: white;
                font-size: 22px;
                position: absolute;
                z-index: 999;
                bottom: 60px;
                text-align: center;
                line-height: 34px;

                h1 {
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }
        }
    }
}