@import '../../globalVariables.scss';


.header-main {
    font-family: $font;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background-image: url(https://images.purplecarrot.com/uploads/content_chunk/section1_image/70/fe27_804a_WebBanner_Final_V3_ps_compress_w_rgb2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 528px;

    img {
        height: 300px;
        width: 470px;
        object-fit: contain;
        position: relative;
        top: 17px;
        left: 133px;
    }

    .hidden-xs {
        p {
            font-size: 26px;
            line-height: 1.2em;
            letter-spacing: 1px;
            padding: 13px 18px;
            position: relative;
            left: 117px;
            top: 30px;
            width: 650px;
            height: 60px;
        }

        .button {

            padding: 12px 15px;
            position: relative;
            left: 136px;
            top: 78px;
            background-color: $purple;
            border-style: none;
            height: 61px;
            width: 325px;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: white;
        }

        .button:hover {
            text-decoration: none;
            background-color: white;
            color: $purple;
            border: solid 1px $purple;
        }
    }
}