@import '../../globalVariables.scss';

.power-main {
    font-family: $font;



    h1 {
        font-weight: 600;
        font-size: 48px;
        color: black;
        letter-spacing: 1px;
        margin-top: 45px;
        margin-bottom: 100px;
        text-transform: uppercase;
    }

    p span {
        font-weight: 600;
    }

    // .col-sm-11, .col-sm-5, .col-lg-6 {
    //     border: 1px solid red;
    // }

    .bullets {

        .bulletpoint {
            font-size: 22px;
            margin-bottom: 50px;
        }
    }

    .artichoke {
        width: 100%;
    }


}