@import '../../globalVariables.scss';

.power-main {
    font-family: $font;



    .title {
        font-weight: 700;
        font-size: 48px;
        color: black;
        letter-spacing: 1px;
        margin-top: 45px;
        margin-bottom: 45px;
        text-transform: uppercase;
    }


    .bullets {

        .bulletpoint {
            margin-top: 30px;
            display: flex;
            font-size: 22px;
        }
        
        .img-wrapper {
            width: 40%;
            display: inline-block;
            padding-bottom: 20px;
        }

        p {
            margin-top: 10px;
            width: 400px;
        }

        strong {
            font-weight: 700;
        }
    }

    .artichoke {
        width: 94%;
        position: relative;
        left: 57px;
        bottom: 186px;
    }


}