.power-main {
  font-family: "Poppins", sans-serif; }
  .power-main .row {
    position: relative; }
    .power-main .row .img-artichoke {
      position: absolute;
      bottom: 0;
      right: 0; }
    .power-main .row .main-text {
      margin-left: 50px; }
  .power-main h1 {
    font-weight: 600;
    font-size: 60px;
    color: black;
    letter-spacing: 5px;
    margin-top: 45px;
    margin-bottom: 50px;
    font-family: "Indie Flower", cursive;
    width: 100%;
    text-align: center; }
  .power-main p span {
    font-weight: 600; }
  .power-main .bullets .bulletpoint {
    font-size: 22px;
    margin-bottom: 50px; }
  .power-main .artichoke {
    width: 100%;
    padding: 0; }
  .power-main .hidden-sm .top-half {
    height: 385px;
    background: url("../../../Images/homeView/artichoke.jpg") no-repeat;
    background-size: contain;
    background-position: center bottom; }
    .power-main .hidden-sm .top-half .overlay {
      background-color: rgba(101, 31, 108, 0.2);
      width: 100%;
      height: 100%; }
    .power-main .hidden-sm .top-half h1 {
      font-size: 45px;
      display: block;
      text-align: center;
      padding-top: 40px;
      letter-spacing: 1px;
      font-weight: 700; }
