@import '../../globalVariables.scss';

.recipes-main {
    font-family: $font;
    position: relative;

    .header {
        text-align: center;

        h1 {
            font-size: 44px;
            font-weight: 600;
            margin-top: 50px;
            margin-bottom: 40px;
            color: black;
            letter-spacing: 1px;
            z-index: 999;
        }

        .green-bolt {
            position: relative;
            margin-top: -150px;
            z-index: -10;
        }

        .header-text {
            font-size: 20px;
            margin-top: 45px;
        }
        
    }

    .menu-button {
        text-align: center;
        margin-top: 40px;

        .button {
            padding: 7px 18px;
            background-color: #99CA3C;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 22px;
            border: 2px solid #99ca3c;
        }

        .button:hover {
            background-color: white;
            color: #99ca3c;
            text-decoration: none;
        }
    }
}