.satisfy-main {
  background-image: url("../../../Images/homeView/satisfy.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: -2px;
  text-align: center;
  height: auto;
  font-family: "Poppins", sans-serif; }
  .satisfy-main .words {
    padding-top: 130px; }
  .satisfy-main .button-wrapper {
    margin-top: 155px;
    padding-bottom: 60px; }
  .satisfy-main .button {
    color: white;
    background-color: #973894;
    border: 1px solid #973894;
    padding: 15px 25px;
    font-size: 22px;
    letter-spacing: 1px; }
  .satisfy-main .button:hover {
    color: #973894;
    background-color: white;
    text-decoration: none; }
