.yoga-main {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100vw;
  margin: 0; }
  .yoga-main h1 {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 40px;
    letter-spacing: 1px; }
  .yoga-main p {
    margin-bottom: 10px;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 20px; }
  .yoga-main .img-icon {
    height: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center; }
  .yoga-main .descriptions {
    text-align: center; }
    .yoga-main .descriptions p {
      margin-top: 20px;
      text-transform: uppercase;
      font-size: 20px; }
  .yoga-main .yoga {
    z-index: 99; }
  .yoga-main .yoga-mom {
    transform: skew(-5.5deg) scale(1.05);
    margin-left: 60px;
    width: 75%;
    overflow: hidden; }
    .yoga-main .yoga-mom img {
      margin-left: -80px;
      transform: skew(5.5deg) scale(1.05); }
  .yoga-main .green img {
    width: 100%; }
  .yoga-main .wedge {
    z-index: -19;
    margin-top: -248px;
    padding: 0; }
