$purple: #973894;
$Opurple: rgba(151,56,148,0.2);
$darkPurple: #651F6C;
$green: #99CA3C;

$greenGradient: linear-gradient(rgb(184, 229, 98), rgb(153,202,60) 85%, rgb(93,138,9));
$purpleGradient: linear-gradient(rgb(175, 89, 171), rgb(151, 56, 147) 85%, rgb(107, 14, 103));


$font: 'Poppins', sans-serif;
$font-secondary: 'Indie Flower', cursive;

