@import '../../globalVariables.scss';

.modal-main {
    .button-styles {
        height: 200px;
        width: 200px;
        background-size: cover;
    }

    .button-styles:hover {
        
    }
}