.modal-main {
  padding: 10px; }
  .modal-main .button-styles {
    height: 200px;
    width: 200px;
    background-size: cover;
    padding: 0; }
  .modal-main .overlay {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: black; }
  .modal-main .overlay:hover {
    background-color: rgba(0, 0, 0, 0.5); }

#contained-modal-title-lg {
  font-family: "Poppins", sans-serif; }

.image-full {
  font-family: "Poppins", sans-serif;
  line-height: 1.2em; }
  .image-full .the-image {
    width: 100%; }
  .image-full .meal-description {
    margin-top: 20px; }
