.plans-main {
  margin-top: 75px;
  width: 100%;
  overflow: hidden; }
  .plans-main .thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7px;
    width: 100%;
    padding: 20px 80px; }
  .plans-main .thumbnails {
    padding: 10px; }
