.recipes-header-main {
  background-image: url("../../../Images/recipes/recipes-heading.jpg");
  height: 500px;
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .recipes-header-main p {
    font-family: "Indie Flower", cursive;
    color: white;
    padding-bottom: 10px; }
  .recipes-header-main .title {
    font-size: 85px;
    padding-top: 50px;
    padding-left: 50px;
    position: absolute;
    bottom: 0; }
  .recipes-header-main .sub-title {
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 35px;
    padding-top: 3px; }
  .recipes-header-main .box-shadow {
    width: 100%;
    box-shadow: -1px -1px 10px 2px black;
    position: absolute;
    bottom: 0; }
