@import '../../globalVariables.scss';

.plans-main {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    overflow: hidden;

    .thumbnails-container {
        display: inline-flex;
        margin: 10px;
    }

    // .thumbnails {
    //     width: 100%
    // }
}