@import '../../globalVariables.scss';

.plans-main {
    margin-top: 75px;
    width: 100%;
    overflow: hidden;

    .thumbnails-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 7px;
        width: 100%;
        padding: 20px 80px;
    }

    .thumbnails {
        padding: 10px;
        
    }
}