@import '../globalVariables.scss';

.footer-main {
    background-color: #222222;

    .social-media {
        text-align: center;


        .social-links {
            display: inline-block;
        }
    }
}